@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import "./_variables.scss";
@import "./_placeholders.scss";
@import "./_mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

// Header
h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5rem;
  width: 100%;
  @extend %flex-center;
  margin-top: 10px;
  margin-bottom: 10px;
  user-select: none;
}

header {
  position: relative;

  i {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 60px;
    &:active {
      color: $primaire;
    }
  }
}

// Chargement
.chargement {
  position: fixed;
  height: 100%;
  width: 100%;
  @extend %flex-center;
  animation: loader 2s linear;
  animation-fill-mode: both;
  background: rgba(255, 255, 255, 0.664);
  z-index: 99;

  @keyframes loader {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      z-index: -99;
    }
  }

  .loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    @extend %background-gradient;
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 8px),
      #000 0
    );
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

// Recherche
.input-search {
  @extend %flex-center;
  background: rgb(231, 230, 230);
  border-top: 3px solid rgba(187, 185, 185, 0.562);

  #zone-recherche {
    font-family: "Roboto";
    text-align: center;
    font-size: 0.9rem;
    padding-top: 8px;
    padding-bottom: 8px;
    &::-webkit-input-placeholder {
      font-weight: bold;
      color: #000000;
    }
    &::-moz-placeholder {
      font-weight: bold;
      color: #000000;
    }
    &::-ms-input-placeholder {
      font-weight: bold;
      color: #000000;
    }
  }

  input {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  i {
    @extend %icons;
  }
}

// Reservez
.reservez {
  @extend %flex-center;
  flex-direction: column;
  margin: 30px 70px 10px 70px;

  h2 {
    text-align: center;
    padding: 0 15px 10px 15px;
    font-size: 1.3rem;
  }

  h3 {
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    color: rgb(104, 103, 103);
    margin-bottom: 20px;
  }

  button {
    color: white;
    font-size: 0.9rem;
    margin-top: 10px;
    @extend %background-gradient;
    padding: 15px;
    border-radius: 25px;
    border: transparent;
    cursor: pointer;
  }
  button:hover {
    background: rgb(147, 86, 220);
    background: linear-gradient(
      90deg,
      rgba(147, 86, 220, 1) 10%,
      rgba(255, 121, 218, 1) 100%
    );
    box-shadow: 0 5px 15px 0 rgb(190, 190, 190);
  }
  button:active {
    transform: scale(1.1);
  }
}

// Fonctionnement
h2 {
  font-size: 1.3rem;
}
.Fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px 20px 10px 30px;

  .navigation {
    margin-top: 20px;
  }

  .menu_fonctionnement {
    display: flex;
    margin-top: 20px;
    @extend %box-shadow;
    border-radius: 15px;
    padding: 15px 20px 15px 0;
    &:hover {
      background: #9256dc28;
    }
    &:focus {
      background: #9256dc28;
      i {
        color: $primaire;
      }
    }
  }

  a {
    text-decoration: none;
    color: black;
  }

  p {
    font-size: 0.8rem;
    font-weight: bold;
  }

  span {
    color: white;
    background: $primaire;
    padding: 5px 8px;
    font-size: 0.6rem;
    border-radius: 30px;
    margin-left: -15px;
  }

  i {
    color: grey;
    margin-left: 20px;
    margin-right: 20px;
  }
}

// Restaurants
.restaurants {
  display: flex;
  flex-direction: column;
  margin: 80px 20px 20px 20px;

  .card_restaurants {
    margin-top: 20px;
    @extend %box-shadow;
    border: 1px solid rgba(128, 128, 128, 0.233);
    border-radius: 15px;
    position: relative;

    img {
      height: 160px;
      object-fit: cover;
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    a {
      text-decoration: none;
      color: black;
    }

    .nouveau {
      position: absolute;
      top: 18px;
      right: 15px;
      color: rgb(6, 117, 6);
      background: rgb(164, 250, 197);
      padding: 5px 10px 5px 10px;
      font-weight: bold;
    }

    h3 {
      font-size: 0.9rem;
      margin-left: 10px;
      margin-top: 5px;
    }

    p {
      font-size: 0.9rem;
      margin-left: 10px;
      margin-top: 3px;
      margin-bottom: 10px;
    }

    i {
      position: absolute;
      right: 20px;
      bottom: 20px;
      font-size: 1.3rem;
      cursor: pointer;
    }

    .heart-full {
      opacity: 0;
      &:hover {
        opacity: 1;
        color: transparent;
        background: rgb(147, 86, 220);
        background: linear-gradient(
          250deg,
          rgba(147, 86, 220, 1) 10%,
          rgba(255, 121, 218, 1) 100%
        );
        -webkit-background-clip: text;
      }
    }
  }
}

// Footer
footer {
  background: rgba(0, 0, 0, 0.822);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;

  p {
    color: white;
    font-family: "Shrikhand", sans-serif;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $primaire;
    }
  }

  li {
    list-style: none;
    font-size: 0.9rem;
    margin-top: 7px;
    &:hover {
      text-decoration: underline;
    }
  }

  i {
    margin-right: 7px;
    font-size: 0.7rem;
  }
}

.icon-align {
  min-width: 20px;
  display: inline-block;
}

// Page restaurants
header {
  a {
    text-decoration: none;
    color: black;
  }
}

.card_presentation {
  img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    position: relative;
  }

  .text-presentation {
    background: white;
    margin-top: -30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
  }

  p {
    font-family: "Shrikhand", sans-serif;
    font-size: 1.3rem;
    padding-left: 20px;
    padding-top: 20px;
  }

  i {
    position: absolute;
    right: 35px;
    top: 25px;
    font-size: 1.3rem;
    cursor: pointer;
  }

  .heart-full {
    opacity: 0;
    &:hover,
    &:active,
    &:focus {
      opacity: 1;
      color: transparent;
      background: rgb(147, 86, 220);
      background: linear-gradient(
        250deg,
        rgba(147, 86, 220, 1) 10%,
        rgba(255, 121, 218, 1) 100%
      );
      -webkit-background-clip: text;
    }
  }
}

// Menu restaurants
.menu_restaurant {
  margin-top: 20px;

  h2 {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 8px;
    margin-bottom: 25px;
    position: relative;
  }

  h2::after {
    content: "";
    width: 2.3rem;
    height: 0.15rem;
    background: $tertiaire;
    position: absolute;
    left: 0;
    margin-top: 20px;
  }

  .__card1,
  .__card2,
  .__card3 {
    width: 95%;
    margin: 10px 0px 10px 8px;
    @extend %box-shadow;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    &:hover {
      .--selection {
        animation: checked-menu 0.8s ease;
        animation-fill-mode: forwards;
        opacity: 1;

        @keyframes checked-menu {
          0% {
            right: -50px;
          }
          100% {
            right: 0;
          }
        }
      }
      .prix {
        transform: translateX(-60px);
      }

      i {
        animation: rotation 0.5s ease;
        animation-fill-mode: forwards;
        @keyframes rotation {
          0% {
            transform: rotate(180deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }
      }
    }
  }
  .__card1 {
    animation: menu1 2s ease;
  }

  @keyframes menu1 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .__card2 {
    animation: menu2 3s ease;
  }
  @keyframes menu2 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .__card3 {
    animation: menu3 4s ease;
  }
  @keyframes menu3 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  h3 {
    font-size: 0.9rem;
  }

  .flex_menu {
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
  }

  p {
    font-size: 0.8rem;
  }

  .prix {
    font-weight: bold;
  }

  .--selection {
    transform: translateX(50);
    position: absolute;
    background: $tertiaire;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    right: -60px;
    top: 0px;
    opacity: 0;
  }

  i {
    color: white;
    padding: 20px;
    transform: rotate(180deg);
  }
}

.commander {
  @extend %flex-center;

  button {
    @extend %flex-center;
    min-width: 40%;
    color: white;
    font-size: 0.9rem;
    margin-top: 40px;
    @extend %background-gradient;
    padding: 15px;
    border-radius: 25px;
    border: transparent;
    cursor: pointer;
  }
  button:hover {
    background: rgb(147, 86, 220);
    background: linear-gradient(
      90deg,
      rgba(147, 86, 220, 1) 10%,
      rgba(255, 121, 218, 1) 100%
    );
    @extend %box-shadow;
  }
  button:active {
    transform: scale(1.1);
  }
}
