@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
.commander button, .commander, .reservez, .input-search, .chargement, h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-search i {
  font-size: 0.9rem;
}

.commander button:hover, .menu_restaurant .__card1,
.menu_restaurant .__card2,
.menu_restaurant .__card3, .restaurants .card_restaurants, .Fonctionnement .menu_fonctionnement {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.13);
}

.commander button, .reservez button, .chargement .loader {
  background: #9356dc;
  background: linear-gradient(350deg, #9356dc 10%, #ff79da 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5rem;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  user-select: none;
}

header {
  position: relative;
}
header i {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 60px;
}
header i:active {
  color: #9356dc;
}

.chargement {
  position: fixed;
  height: 100%;
  width: 100%;
  animation: loader 2s linear;
  animation-fill-mode: both;
  background: rgba(255, 255, 255, 0.664);
  z-index: 99;
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -99;
  }
}
.chargement .loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input-search {
  background: #e7e6e6;
  border-top: 3px solid rgba(187, 185, 185, 0.562);
}
.input-search #zone-recherche {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 8px;
  padding-bottom: 8px;
}
.input-search #zone-recherche::-webkit-input-placeholder {
  font-weight: bold;
  color: #000000;
}
.input-search #zone-recherche::-moz-placeholder {
  font-weight: bold;
  color: #000000;
}
.input-search #zone-recherche::-ms-input-placeholder {
  font-weight: bold;
  color: #000000;
}
.input-search input {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.reservez {
  flex-direction: column;
  margin: 30px 70px 10px 70px;
}
.reservez h2 {
  text-align: center;
  padding: 0 15px 10px 15px;
  font-size: 1.3rem;
}
.reservez h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  color: #686767;
  margin-bottom: 20px;
}
.reservez button {
  color: white;
  font-size: 0.9rem;
  margin-top: 10px;
  padding: 15px;
  border-radius: 25px;
  border: transparent;
  cursor: pointer;
}
.reservez button:hover {
  background: #9356dc;
  background: linear-gradient(90deg, #9356dc 10%, #ff79da 100%);
  box-shadow: 0 5px 15px 0 #bebebe;
}
.reservez button:active {
  transform: scale(1.1);
}

h2 {
  font-size: 1.3rem;
}

.Fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px 20px 10px 30px;
}
.Fonctionnement .navigation {
  margin-top: 20px;
}
.Fonctionnement .menu_fonctionnement {
  display: flex;
  margin-top: 20px;
  border-radius: 15px;
  padding: 15px 20px 15px 0;
}
.Fonctionnement .menu_fonctionnement:hover {
  background: #9256dc28;
}
.Fonctionnement .menu_fonctionnement:focus {
  background: #9256dc28;
}
.Fonctionnement .menu_fonctionnement:focus i {
  color: #9356dc;
}
.Fonctionnement a {
  text-decoration: none;
  color: black;
}
.Fonctionnement p {
  font-size: 0.8rem;
  font-weight: bold;
}
.Fonctionnement span {
  color: white;
  background: #9356dc;
  padding: 5px 8px;
  font-size: 0.6rem;
  border-radius: 30px;
  margin-left: -15px;
}
.Fonctionnement i {
  color: grey;
  margin-left: 20px;
  margin-right: 20px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  margin: 80px 20px 20px 20px;
}
.restaurants .card_restaurants {
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.233);
  border-radius: 15px;
  position: relative;
}
.restaurants .card_restaurants img {
  height: 160px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .card_restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants .card_restaurants .nouveau {
  position: absolute;
  top: 18px;
  right: 15px;
  color: #067506;
  background: #a4fac5;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
}
.restaurants .card_restaurants h3 {
  font-size: 0.9rem;
  margin-left: 10px;
  margin-top: 5px;
}
.restaurants .card_restaurants p {
  font-size: 0.9rem;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 10px;
}
.restaurants .card_restaurants i {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}
.restaurants .card_restaurants .heart-full {
  opacity: 0;
}
.restaurants .card_restaurants .heart-full:hover {
  opacity: 1;
  color: transparent;
  background: #9356dc;
  background: linear-gradient(250deg, #9356dc 10%, #ff79da 100%);
  -webkit-background-clip: text;
}

footer {
  background: rgba(0, 0, 0, 0.822);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}
footer p {
  color: white;
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 10px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #9356dc;
}
footer li {
  list-style: none;
  font-size: 0.9rem;
  margin-top: 7px;
}
footer li:hover {
  text-decoration: underline;
}
footer i {
  margin-right: 7px;
  font-size: 0.7rem;
}

.icon-align {
  min-width: 20px;
  display: inline-block;
}

header a {
  text-decoration: none;
  color: black;
}

.card_presentation img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  position: relative;
}
.card_presentation .text-presentation {
  background: white;
  margin-top: -30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
}
.card_presentation p {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.3rem;
  padding-left: 20px;
  padding-top: 20px;
}
.card_presentation i {
  position: absolute;
  right: 35px;
  top: 25px;
  font-size: 1.3rem;
  cursor: pointer;
}
.card_presentation .heart-full {
  opacity: 0;
}
.card_presentation .heart-full:hover, .card_presentation .heart-full:active, .card_presentation .heart-full:focus {
  opacity: 1;
  color: transparent;
  background: #9356dc;
  background: linear-gradient(250deg, #9356dc 10%, #ff79da 100%);
  -webkit-background-clip: text;
}

.menu_restaurant {
  margin-top: 20px;
}
.menu_restaurant h2 {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 8px;
  margin-bottom: 25px;
  position: relative;
}
.menu_restaurant h2::after {
  content: "";
  width: 2.3rem;
  height: 0.15rem;
  background: #99e2d0;
  position: absolute;
  left: 0;
  margin-top: 20px;
}
.menu_restaurant .__card1,
.menu_restaurant .__card2,
.menu_restaurant .__card3 {
  width: 95%;
  margin: 10px 0px 10px 8px;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.menu_restaurant .__card1:hover .--selection,
.menu_restaurant .__card2:hover .--selection,
.menu_restaurant .__card3:hover .--selection {
  animation: checked-menu 0.8s ease;
  -webkit-animation: checked-menu 0.8s ease;
  animation-fill-mode: forwards;
  opacity: 1;
}
@keyframes checked-menu {
  0% {
    right: -50px;
  }
  100% {
    right: 0;
  }
}
.menu_restaurant .__card1:hover .prix,
.menu_restaurant .__card2:hover .prix,
.menu_restaurant .__card3:hover .prix {
  transform: translateX(-60px);
}
.menu_restaurant .__card1:hover i,
.menu_restaurant .__card2:hover i,
.menu_restaurant .__card3:hover i {
  animation: rotation 0.5s ease;
  -webkit-animation: rotation 0.5s ease;
  animation-fill-mode: forwards;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu_restaurant .__card1:hover .text-menu,
.menu_restaurant .__card1:hover h3,
.menu_restaurant .__card2:hover .text-menu,
.menu_restaurant .__card2:hover h3,
.menu_restaurant .__card3:hover .text-menu,
.menu_restaurant .__card3:hover h3 {
  max-width: 70%;
}
.menu_restaurant .__card1 {
  animation: menu1 2s ease;
  -webkit-animation: menu1 2s ease;
}
@keyframes menu1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu_restaurant .__card2 {
  animation: menu2 3s ease;
  -webkit-animation: menu2 3s ease;
}
@keyframes menu2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu_restaurant .__card3 {
  animation: menu3 4s ease;
  -webkit-animation: menu3 4s ease;
}
@keyframes menu3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu_restaurant h3 {
  font-size: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.menu_restaurant .flex_menu {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
}
.menu_restaurant p {
  font-size: 0.8rem;
}
.menu_restaurant .text-menu {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.menu_restaurant .prix {
  font-weight: bold;
}
.menu_restaurant .--selection {
  transform: translateX(50);
  position: absolute;
  background: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  right: -60px;
  top: 0px;
  opacity: 0;
  height: 6.4vh;
}
.menu_restaurant i {
  color: white;
  padding: 23px 20px 20px 20px;
  transform: rotate(0deg);
}

.commander button {
  min-width: 40%;
  color: white;
  font-size: 0.9rem;
  margin-top: 40px;
  padding: 15px;
  border-radius: 25px;
  border: transparent;
  cursor: pointer;
}
.commander button:hover {
  background: #9356dc;
  background: linear-gradient(90deg, #9356dc 10%, #ff79da 100%);
}
.commander button:active {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
